<div class="offcanvas offcanvas-start" tabindex="-1" id="calculettePartial">
<table class="caisse" onclick="updateCalcul(event)">
    <tr>
        <td colspan="4" style="padding:0;">
            <input id="caisse-ecran" class="caisse-ecran" type="text"/>
        </td>
    </tr>
    <tr>
        <td id="caisse-CE" class="sombre">CE</td>
        <td id="caisse-DEL" class="sombre">DEL</td>
        <td id="caisse-/" class="sombre">/</td>
        <td id="caisse-*" class="sombre">x</td>
    </tr>
    <tr>
        <td id="caisse-7" class="gris">7</td>
        <td id="caisse-8" class="gris">8</td>
        <td id="caisse-9" class="gris">9</td>
        <td id="caisse--" class="sombre">-</td>
    </tr>
    <tr>
        <td id="caisse-4" class="gris">4</td>
        <td id="caisse-5" class="gris">5</td>
        <td id="caisse-6" class="gris">6</td>
        <td id="caisse-+" class="sombre">+</td>
    </tr>
    <tr>
        <td id="caisse-1" class="gris">1</td>
        <td id="caisse-2" class="gris">2</td>
        <td id="caisse-3" class="gris">3</td>
        <td id="caisse-entrer" class="dark" rowspan="2">Entrer</td>
    </tr>
    <tr>
        <td id="caisse-0" class="gris" colspan="2">0</td>
        <td id="caisse-," class="gris">,</td>
    </tr>
</table>
</div>
</div>