<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.instagram.com/polarutc/"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/wiki">A propos</a></li>
            <li class="list-inline-item"><a href="/contacts">Contact</a></li>
            <li class="list-inline-item"><a href="/">L'équipe</a></li>
            <li class="list-inline-item"><a href="/mentions">Mentions légales</a></li>
            <li class="list-inline-item"><a href="/pdf/CGL.pdf">Conditions générales de location</a></li>
        </ul>
        <p class="copyright">Le Polar</p>
    </footer>
</div>