<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">A propos</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">L'équipe</a></li>
            <li class="list-inline-item"><a href="#">Mentions légales</a></li>
            <li class="list-inline-item"><a href="#">Utilisation des cookies</a></li>
            <li class="list-inline-item"><a href="#">Conditions générales de location</a></li>
        </ul>
        <p class="copyright">Le Polar</p>
    </footer>
</div>