<!-- Modal -->
<div class="modal fade" id="modalPaiementCASS" tabindex="-1" role="dialog" aria-labelledby="modalPaiementmodalPaiementCASSTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPaimentCASSTitle">Compte Association</h5>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">Montant à payer : </div>
                            <div class="col" id="modalMontant">0€</div>
                        </div>
                        <div class="row" style="margin-top: 2vh">
                            <img src="/images/logo-utc.svg">
                            <a class="btn btn-warning" href="https://cas.utc.fr/" target="_blank">Compte Association</a>
                        </div>
                        <div class="row" style="padding-top:1vh">
                            <button class="btn btn-success">Valider le paiement</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
