/* FONT */
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

a {
    text-decoration: none;
}

/* NAVBAR */

.navbar-brand {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    width: fit-content;
    padding-bottom: 0;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand > img {

    width: 70px;
    margin-right: 10px;
}

.navbar {
    box-shadow: 0px 2px 3px lightgray;
    padding-bottom: 0;
}

.navbar-collapse {
    flex-grow: 0 !important; 
}

.navbar-main-spacer {
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.hov:hover {
    color: black;
}

.nav-item > a {
    font-size: 0.95rem;
}

.login-item {
    border-radius: 10px;
    margin-right: 2px;
}

.separator {
    border: 1px solid rgb(204, 204, 204);
    width: 1px;
    height: 33px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.el-accueil {
    font-weight: bolder;
    margin: 0;
}

.hov:hover {
    border-bottom: solid 2px rgb(53, 53, 53);
}

.active {
    border-bottom: solid 2px rgb(53, 53, 53);
}

/*MAIN*/

main {
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}