<!DOCTYPE html>

<html>

<head>
    <title><%= title %></title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/css/contact.css">
    <link rel='stylesheet' href='/stylesheets/css/index.css' />
</head>
<body>
<%- include('../partials/header', title='Contacts', session=session); %>
<main>
    <div class="wrapper">
        <div class="title">
          Comment nous contacter ?
        </div>
        <p>
            Envoyez nous un mail via le formulaire de contact ci-dessous ou passez nous voir au local FE008 ! Si vous avez un compte sur le site du Polar, connectez-vous pour accéder directement à la Hotline.        </p>
        </p>
        <div class="title">
            Formulaire
          </div>
        <p>
            Un problème ? Une suggestion ? Envoyez-nous un mail via ce formulaire de contact !
        </p>
        <form action="https://formsubmit.co/lytwzz@gmail.com" method="POST" class="form">
          <div class="inputfield">
            <label>Votre courriel</label>
            <input name="mail" type="text" class="input">
          </div>
          <div class="inputfield">
            <label>Sujet</label>
            <input name="sujet" type="text" class="input">
          </div>
          <div class="inputfield">
            <label>Message</label>
            <textarea name="message" class="textarea"></textarea>
          </div>

          <div class="inputfield">
            <input type="hidden" name="_next" value="https://polar.azurewebsites.net/contacts/confirm">
            <input type="submit" value="Soumettre" class="btn">
          </div>
        </form>
      </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  $('.el-contact').addClass('active');
</script>
<%- include('../partials/footer'); %>
</body>
</html>
