<!DOCTYPE html>

<html>

<head>
    <title><%= title %></title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/css/confirm.css">
</head>
<body>
<%- include('../partials/header', title='Raclette'); %>
<main>
    <div class="wrapper">
        <div class="title">
            Confirmation du mail envoyé
        </div>

    </div>
</main>
<%- include('../partials/footer'); %>
</body>
</html>
