<!DOCTYPE html>

<html>  
<head>
    <title><%= title %></title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/css/mentions.css">
</head>

    <body>
    <%- include('../partials/header', title='Mentions légales', session=session); %>
        <main>
            <div class="wrapper">
                <div class="title">
                  Mentions légales
                </div>
                <p>
                    Ce site est édité par l'association : </br></br>
                    Promotion des Oeuvres Livresques Au Rabais </br>
                    Université de Technologie de Compiègne </br>
                    Rue Roger Couttolenc </br>
                    60200 Compiègne </br>
                    Tél. : 03 44 23 43 73 </br>
                    E-mail : polar@assos.utc.fr </br>
                    SIRET : 42898163300012 </br>
                    SIREN : 428981633 </br>
                    Code APE : 94(.)99Z </br>
                    <a href ="/pdf/STATUTS.pdf">Statuts du POLAR </a></br>
                    <a href="/pdf/RI.pdf"> Règlement intérieur</a></br></br>
                </p>
                <div class="title">
                    Données personnelles
                </div>
                <p>
                    Les informations recueillies sur ce site sont nécessaires afin de vous identifier en tant qu'étudiant et de permettre le traitement de votre commande. Elles font l'objet d'un traitement informatique et sont destinées à l'association. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à l'association, à l'adresse indiquée ci-dessus.
                </p>
                <div class="title">
                    Cookie
                </div>
                <p>
                    Ce site web implante un cookie dans votre ordinateur. Ce cookie enregistre des informations relatives à votre navigation sur notre site et stocke un identifiant permettant de vous garder connecter. Ce cookie est supprimé lors de la fermeture de votre navigateur. </br></br>

                    Nous vous informons que vous pouvez vous opposer à l'enregistrement de "cookies" en configurant votre navigateur de la manière suivante : </br></br>

                    Pour Mozilla firefox : </br></br>

                    1. Choisissez le menu "Outils " puis "Options" </br>
                    2. Cliquez sur l'icône "Vie privée" </br>
                    3. Repérez le menu "Cookie" et sélectionnez les options qui vous conviennent </br></br>

                    Pour Microsoft Internet Explorer : </br></br>

                    1. Choisissez le menu "Outils" puis "Options Internet" </br>
                    2. Cliquez sur l'onglet "Confidentialité" </br>
                    3. Sélectionnez le niveau souhaité à l'aide du curseur </br></br>
                    Pour Opéra 6.0 et au-delà : </br></br>

                    1. Choisissez le menu "Fichier">"Préférences" </br>
                    2. Vie Privée
                </p>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>
 
</html>
