<!DOCTYPE html>

<html>  
<head>
    <title><%= title %></title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/css/ventes.css">
    <link rel='stylesheet' href='/stylesheets/css/index.css'/>
</head>
<body>
<%- include('../partials/header', title='Ventes'); %>
<main>
    <h1>Produits</h1>
    <div class="wrapper">
    <div class="box">
        <div class="product">
        <span class="name">Calculatrice</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
    </div>
    <div class="box">
        <div class="product">
        <span class="name">Cable</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
    </div>
    <div class="box">
        <div class="product">
        <span class="name">Clé USB</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
        </div>
    </div>
    </div>
</main>
</body>
</html>
